<a href="https://colab.research.google.com/github/ahairshi/ml-zoomcamp-2023/blob/main/Hw1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Homework

### Set up the environment

You need to install Python, NumPy, Pandas, Matplotlib and Seaborn. For that, you can the instructions from
[06-environment.md](https://github.com/alexeygrigorev/mlbookcamp-code/blob/master/course-zoomcamp/01-intro/06-environment.md).

In [35]:
import pandas as pd
import numpy as np
pd.__version__

'1.5.3'

### Getting the data

For this homework, we'll use the California Housing Prices dataset. Download it from
[here](https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv).

You can do it with wget:

```bash
wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
```

Or just open it with your browser and click "Save as...".

Now read it with Pandas.

### Question 2

How many columns are in the dataset?

- 10
- 6560
- 10989
- 20640

In [3]:
! curl -o /content/sample_data/housing.csv https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1390k  100 1390k    0     0  8133k      0 --:--:-- --:--:-- --:--:-- 8129k

In [4]:
df = pd.read_csv("/content/sample_data/housing.csv")

In [5]:
len(df.columns)

10

Question 3

Which columns in the dataset have missing values?


*  total_rooms
*  total_bedrooms
*  both of the above
*  no empty columns in the dataset

In [6]:
nan_count = df.isna().sum()
print(nan_count)

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

### Question 4

How many unique values does the `ocean_proximity` column have?

- 3
- 5
- 7
- 9

In [7]:
df.ocean_proximity.nunique()

5

In [8]:
df.ocean_proximity.unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

### Question 5

What's the average value of the `median_house_value` for the houses located near the bay?

- 49433
- 124805
- 259212
- 380440

In [9]:
round(df[df.ocean_proximity=='NEAR BAY'].median_house_value.mean(),0)

259212.0


### Question 6

1. Calculate the average of `total_bedrooms` column in the dataset.
2. Use the `fillna` method to fill the missing values in `total_bedrooms` with the mean value from the previous step.
3. Now, calculate the average of `total_bedrooms` again.
4. Has it changed?

Has it changed?

> Hint: take into account only 3 digits after the decimal point.

- Yes
- No

In [10]:
total_bedrooms_ave = round(df.total_bedrooms.mean(),3)

In [11]:
total_bedrooms_ave

537.871

In [12]:
round(df['total_bedrooms'].fillna(value=total_bedrooms_ave).mean(),3)

537.871

### Question 7

1. Select all the options located on islands.
2. Select only columns `housing_median_age`, `total_rooms`, `total_bedrooms`.
3. Get the underlying NumPy array. Let's call it `X`.
4. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
5. Compute the inverse of `XTX`.
6. Create an array `y` with values `[950, 1300, 800, 1000, 1300]`.
7. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
8. What's the value of the last element of `w`?

> **Note**: You just implemented linear regression. We'll talk about it in the next lesson.

- -1.4812
- 0.001
- 5.6992
- 23.1233

In [39]:
X=df[df.ocean_proximity=="ISLAND"][['housing_median_age', 'total_rooms', 'total_bedrooms']].to_numpy()
y = np.array([950, 1300, 800, 1000, 1300])
np.dot(np.dot(np.linalg.inv(np.dot(X.T, X)), X.T), y)[-1]

5.699229455065586